.buddyforms-data-table-filter-container {
	margin-bottom: 10px;
	display: flex;
	width: 100%;
	flex-direction: row;
	flex-flow: row wrap;
}

.fg-toolbar.ui-toolbar.ui-widget-header {
	padding: 10px;
}

.autocomplete-suggestions {
	border: 1px solid #999;
	background: #FFF;
	overflow: auto;
	display: none;
}

.autocomplete-suggestion {
	padding: 2px 5px;
	white-space: nowrap;
	overflow: hidden;
}

.autocomplete-selected {
	background: #F0F0F0;
}

.autocomplete-suggestions strong {
	font-weight: normal;
	color: #3399FF;
}

.autocomplete-group {
	padding: 2px 5px;
}

.autocomplete-group strong {
	display: block;
	border-bottom: 1px solid #000;
}

.autocomplete-loading {
	display: none;
}

.autocomplete-loading-container {
	float: right;
	margin-right: 15px;
	position: relative;
	display: block;
	top: -29px;
}

.buddyforms_data_table.buddyforms-posts-container ul.edit_links {
	list-style-type: none;
	display: flex;
	width: 100%;
	min-width: 150px;
	justify-content: flex-start;
	padding-left: unset;
	margin-bottom: unset;
}

.buddyforms_data_table.buddyforms-posts-container ul.dtr-details {
	list-style-type: none;
	padding-left: unset;
	display: inline-block;
}

.buddyforms_data_table.buddyforms-posts-container ul.dtr-details span.dtr-title {
	font-weight: bold;
	color: #454545;
	display: inline-block;
	min-width: 150px;
}

.buddyforms_data_table.buddyforms-posts-container ul.dtr-details span.dtr-data {
	display: inline-flex;
}

.buddyforms_data_table.buddyforms-posts-container table.dataTable.display tbody tr.odd, .buddyforms_data_table.buddyforms-posts-container table tbody tr.child.odd {
	background-color: #f9f9f9;
}

.buddyforms_data_table.buddyforms-posts-container table.dataTable.display tbody tr.odd > .sorting_1, .buddyforms_data_table.buddyforms-posts-container table.dataTable.order-column.stripe tbody tr.odd > .sorting_1 {
	background-color: #f9f9f9;
}

.buddyforms_data_table.buddyforms-posts-container table.dataTable.hover tbody tr:hover, .buddyforms_data_table.buddyforms-posts-container table.dataTable.display tbody tr:hover {
	background-color: transparent;
}

.buddyforms_data_table.buddyforms-posts-container table.dataTable.display tbody tr:hover > .sorting_1, .buddyforms_data_table.buddyforms-posts-container table.dataTable.order-column.hover tbody tr:hover > .sorting_1 {
	background-color: transparent;
}

.buddyforms_data_table.buddyforms-posts-container table.dataTable.display tbody tr.even > .sorting_1, .buddyforms_data_table.buddyforms-posts-container table.dataTable.order-column.stripe tbody tr.even > .sorting_1 {
	background-color: transparent;
}

.buddyforms_data_table.buddyforms-posts-container table.dataTable thead th, .buddyforms_data_table.buddyforms-posts-container table.dataTable thead td {
	padding: 10px 2px;
}

.buddyforms_data_table.buddyforms-posts-container .ui-icon {
	width: 5px;
	height: 5px;
}

.buddyforms_data_table.buddyforms-posts-container .dataTables_wrapper .dataTables_length {
	float: left;
}

.buddyforms_data_table.buddyforms-posts-container .dataTables_wrapper .dataTables_filter {
	float: left;
	text-align: left;
	display: block;
	margin-left: 5px;
}

.buddyforms_data_table.buddyforms-posts-container .dataTables_wrapper .dataTables_filter input {
	margin-left: unset;
	display: block;
	min-width: 300px;
}

@media screen and (max-width: 640px) {
	.buddyforms_data_table.buddyforms-posts-container .dataTables_wrapper .dataTables_filter {
		margin-top: 0.5em;
		float: none;
		text-align: center;
		margin-left: unset;
	}
	.buddyforms_data_table.buddyforms-posts-container .dataTables_wrapper .dataTables_filter label {
		text-align: left;
	}
}

@media screen and (max-width: 640px) {
	.buddyforms_data_table.buddyforms-posts-container .dataTables_wrapper .dataTables_length, .dataTables_wrapper .dataTables_filter {
		float: none;
		text-align: center;
	}

	.buddyforms_data_table.buddyforms-posts-container .ui-button.ui-state-default.previous,
	.buddyforms_data_table.buddyforms-posts-container .ui-button.ui-state-default.next{
		display: none;
	}
}

.buddyforms_data_table.buddyforms-posts-container table .DataTables_sort_wrapper {
	text-align: center;
}

/* Style for the childFullTable */
/* Parent table */
.buddyforms_data_table.buddyforms-posts-container table.dataTable.display tbody td {
	border-top: 2px solid #fff;
}

.buddyforms_data_table.buddyforms-posts-container table.dataTable tbody td {
	padding: unset;
}

/* Child table */
.buddyforms_data_table.buddyforms-posts-container table.dataTable table.dtr-details tbody td {
	padding: 6px 4px;
	border-top: 1px solid #fff;
}

