.buddyforms-data-table-filter-container {
	margin-bottom: 10px;
	display: flex;
	width: 100%;
	flex-direction: row;
	flex-flow: row wrap;
}

.buddyforms-data-table-filter-child {
	margin-left: 5px;
}

.buddyforms-data-table-filter-container p {
	margin-bottom: 10px;
}

.buddyforms-data-table-filter-child.example {
	display: none;
}

.fg-toolbar.ui-toolbar.ui-widget-header {
	padding: 10px;
}

.autocomplete-suggestions {
	border: 1px solid #999;
	background: #FFF;
	overflow: auto;
	display: none;
}

.autocomplete-suggestion {
	padding: 2px 5px;
	white-space: nowrap;
	overflow: hidden;
}

.autocomplete-selected {
	background: #F0F0F0;
}

.autocomplete-suggestions strong {
	font-weight: normal;
	color: #3399FF;
}

.autocomplete-group {
	padding: 2px 5px;
}

.autocomplete-group strong {
	display: block;
	border-bottom: 1px solid #000;
}

.autocomplete-loading {
	display: none;
}

.autocomplete-loading-container {
	float: right;
	margin-right: 15px;
	position: relative;
	display: block;
	top: -29px;
}

.buddyforms_data_table.buddyforms-posts-container ul.edit_links {
	list-style-type: none;
	display: flex;
	width: 100%;
	min-width: 170px;
	justify-content: space-around;
	padding-left: unset;
	margin-bottom: unset;
}

.buddyforms_data_table.buddyforms-posts-container ul.dtr-details {
	list-style-type: none;
	padding-left: unset;
	display: inline-block;
}

.buddyforms_data_table.buddyforms-posts-container ul.dtr-details span.dtr-title {
	font-weight: bold;
	color: #454545;
	display: inline-block;
	min-width: 150px;
}

.buddyforms_data_table.buddyforms-posts-container ul.dtr-details span.dtr-data {
	display: inline-flex;
}
